body{
    background-color: #0B11BD;
    font-family: 'Rajdhani', sans-serif;
    font-style: italic;
}

div#message {
    text-align: center;
    font-size: 120px;
    color: white;
    margin-top: 40px;
}

span {
    position: fixed;
    z-index: 4;
    display: inline-block;
    animation-duration: 2s;
    /*transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    transition-duration: 2.9s;
    transition: 1s;*/
    animation-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
    /*animation-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);*/
    color: white;
    background-color: black;
    width: 14px;
    height: 14px;
    text-align: center;
    background-color: red;
}

span:hover{
    animation-duration: 1s;
    animation-name: slideout !important;
}

span.ball {
    border-radius: 7px;
    background-color: white;
}

.snowflake, .snowflake2, .snowflake3, .snowflake4, .snowflake5 {
    position: fixed;
    z-index: 1;
    top:-30px;
    width: 20px;
    height: 20px;
    background-image: url(snowflakeWhite.png);
	background-size: 20px;
}

.snowflake2 {
    transition-property: top, left;
    transition-timing-function: linear, cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.snowflake3 {
    transition-property: top, left;
    transition-timing-function: linear, cubic-bezier(0.47, -0.8, 0.46, 1.37);
}
.snowflake4 {
    transition-property: top, left;
    transition-timing-function: linear, cubic-bezier(1, -0.58, 0.46, 1.6);
}
.snowflake5 {
    transition-property: top, left;
    transition-timing-function: linear, cubic-bezier(0.47, -0.8, 0.11, 1.6);
}

@keyframes slideout {
  to {
    left: 0;
    top: 0;
  }
}
/*
@keyframes slidein1 {
  from {
    left: 0;
    top: 0;
  }
}

@keyframes slidein2 {
  from {
    left: 500px;
    top: 300px;
  }
}

@keyframes slidein3 {
  from {
    left: 238px;
    top: 343px;
  }
}*/
